# Discord Bot Token
TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE

# MongoDB Connection String (optional)
# MONGO_URI=your_mongodb_connection_string

# Top.gg API Token (optional)
# TOPGG_API=your_topgg_api_token
